<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Boilerplate</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <nav class="navigation">
        
        <a href="#" class="navigation__logo">MoGo</a>

        <div class="navigation__links-container">
          <a href="#" class="navigation__link">About</a>
          <a href="#" class="navigation__link">Service</a>
          <a href="#" class="navigation__link">Work</a>
          <a href="#" class="navigation__link">Blog</a>
          <a href="#" class="navigation__link">Contact</a>

          <a href="#" class="navigation__icon"></a>
          <a href="#" class="navigation__icon"></a>
        </div>
        
      </nav>

      <div class="header__description-container center">
        <h2 class="header__title--small">Creative Template</h2>
        <h1 class="header__title--normal">Welcome to Mogo</h1>
      </div>
  </div>
  </header>

</body>
</html>
