<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Boilerplate</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <nav class="navigation">
        
        <a href="#" class="navigation__logo">MoGo</a>

        <div class="navigation__links-container">
          <a href="#" class="navigation__link">About</a>
          <a href="#" class="navigation__link">Service</a>
          <a href="#" class="navigation__link">Work</a>
          <a href="#" class="navigation__link">Blog</a>
          <a href="#" class="navigation__link">Contact</a>

          <a href="#" class="navigation__icon">
            <svg>
              <use xlink:href="./assets/img/symbol-defs.svg#icon-cart"/>
            </svg>
          </a>
          <a href="#" class="navigation__icon">
            <svg>
              <use xlink:href="./assets/img/symbol-defs.svg#icon-search"/>
            </svg>
          </a>
        </div>
        
      </nav>

      <div class="header__description-container center">
        <h2 class="header__title--small">Creative Template</h2>
        <h1 class="header__title--normal">Welcome to Mogo</h1>

         <a href="#" class="header__button">Learn More</a>
      </div>

      <div class="header__titles-container">
        <a href="#" class="header__title-bottom"><span class="header__title-number">01</span>Intro</a>
        <a href="#" class="header__title-bottom"><span class="header__title-number">02</span>Work</a>
        <a href="#" class="header__title-bottom"><span class="header__title-number">03</span>About</a>
        <a href="#" class="header__title-bottom"><span class="header__title-number">04</span>Contacts</a>
      </div>
    </div>
  </header>

  <main>
    <section class="about">
      <div class="section-title center margin-bottom-9">
        <h4 class="section-title__cursive">What we do</h4>
        <h3 class="section-title__bold">Story about us</h3>
      </div>

      <div class="section-description center">
        <p class="section-description__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum illum atque nesciunt omnis velit vel tenetur eum a debitis molestiae voluptas quam soluta cum, tempora in blanditiis veniam aperiam eligendi?
        </p>
      </div>

      <div class="row row--center">
        <div class="overlay overlay--about">
          <img src="./assets/img/about-1.png" alt="pic 1" class="overlay__img">
          <div class="overlay__gradient">
            <div class="overlay__icon-container center">
              <svg class="overlay__icon">
                <use xlink:href="./assets/img/symbol-defs.svg#icon-users"/>
              </svg>
              <p class="overlay__capture">Super Team</p>
            </div>
          </div>
        </div>

        <div class="overlay overlay--about">
          <img src="./assets/img/about-2.png" alt="pic 1" class="overlay__img">
          <div class="overlay__gradient">
            <div class="overlay__icon-container center">
              <svg class="overlay__icon">
                <use xlink:href="./assets/img/symbol-defs.svg#icon-users"/>
              </svg>
              <p class="overlay__capture">Super Team</p>
            </div>
          </div>
        </div>

        <div class="overlay overlay--about">
          <img src="./assets/img/about-3.png" alt="pic 1" class="overlay__img">
          <div class="overlay__gradient">
            <div class="overlay__icon-container center">
              <svg class="overlay__icon">
                <use xlink:href="./assets/img/symbol-defs.svg#icon-users"/>
              </svg>
              <p class="overlay__capture">Super Team</p>
            </div>
          </div>
        </div>

      </div>

    </section>

    <section class="efforts">
      <div class="container">
        <div class="row">
          <div class="efforts__item">
            <p class="efforts__number">42</p>
            <p class="efforts__title">Web design projects</p>
          </div>

          <div class="efforts__item">
            <p class="efforts__number">123</p>
            <p class="efforts__title">Happy clients</p>
          </div>

          <div class="efforts__item">
            <p class="efforts__number">15</p>
            <p class="efforts__title">Award winner</p>
          </div>

          <div class="efforts__item">
            <p class="efforts__number">99</p>
            <p class="efforts__title">Cup of coffee</p>
          </div>

          <div class="efforts__item">
            <p class="efforts__number">24</p>
            <p class="efforts__title">Members</p>
          </div>
        </div>
      </div>
    </section>

    <section class="service">

      <div class="section-title center margin-bottom-9">
        <h4 class="section-title__cursive">We work with</h4>
        <h3 class="section-title__bold">Amazing services</h3>
      </div>

      <div class="container">
        <div class="row">
          <div class="service__item">
            <svg class="service__icon">
              <use xlink:href="./assets/img/symbol-defs.svg#icon-alarm"/>
            </svg>
            <div class="service__description-container">
              <p class="service__title">Photography</p>
              <p class="service__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, sit ipsum.</p>
            </div>
          </div>

          <div class="service__item">
            <svg class="service__icon">
              <use xlink:href="./assets/img/symbol-defs.svg#icon-stats-dots"/>
            </svg>
            <div class="service__description-container">
              <p class="service__title">Web design</p>
              <p class="service__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, sit ipsum.</p>
            </div>
          </div>

          <div class="service__item">
            <svg class="service__icon">
              <use xlink:href="./assets/img/symbol-defs.svg#icon-display"/>
            </svg>
            <div class="service__description-container">
              <p class="service__title">Creativity</p>
              <p class="service__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, sit ipsum.</p>
            </div>
          </div>
        </div>

        <div class="row row--border-top">
          <div class="service__item">
            <svg class="service__icon">
              <use xlink:href="./assets/img/symbol-defs.svg#icon-file-text2"/>
            </svg>
            <div class="service__description-container">
              <p class="service__title">Seo</p>
              <p class="service__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, sit ipsum.</p>
            </div>
          </div>

          <div class="service__item">
            <svg class="service__icon">
              <use xlink:href="./assets/img/symbol-defs.svg#icon-home"/>
            </svg>
            <div class="service__description-container">
              <p class="service__title">Css/Html</p>
              <p class="service__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, sit ipsum.</p>
            </div>
          </div>

          <div class="service__item">
            <svg class="service__icon">
              <use xlink:href="./assets/img/symbol-defs.svg#icon-enlarge"/>
            </svg>
            <div class="service__description-container">
              <p class="service__title">Digital</p>
              <p class="service__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, sit ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="design">
        <div class="section-title center margin-bottom-9">
          <h4 class="section-title__cursive">For all devices</h4>
          <h3 class="section-title__bold">Unique design</h3>
        </div>

        <img src="./assets/img/ipad.png" alt="ipad" class="design__ipad">
        <img src="./assets/img/iphone.png" alt="iphone" class="design__iphone">
    </section>

    <section class="wedo">
      <div class="section-title center margin-bottom-9">
        <h4 class="section-title__cursive">Service</h4>
        <h3 class="section-title__bold">what we do</h3>
      </div>

      <div class="section-description center margin-bottom-9">
        <p class="section-description__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum illum atque nesciunt omnis velit vel tenetur eum a debitis molestiae voluptas quam soluta cum, tempora in blanditiis veniam aperiam eligendi?
        </p>
      </div>

      <div class="container">
        <div class="row row--nowrap">
          <img src="./assets/img/wedo-pic.png" alt="pic" class="wedo__pic">

          <div class="wedo__accordion accordion">
            <div class="accordion__item">

              <div class="accordion__item-header">
                <svg class="accordion__icon">
                  <use xlink:href="./assets/img/symbol-defs.svg#icon-image"/>
                </svg>
                <p class="accordion__title">Photography</p>
                <svg class="accordion__arrow-icon">
                  <use xlink:href="./assets/img/symbol-defs.svg#icon-chevron-down"/>
                </svg>
              </div>

              <div class="accordion__text-container">
                <p class="accordion__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci magnam obcaecati, explicabo corporis distinctio exercitationem nulla esse iusto ullam nostrum, quos est voluptate iure nihil enim asperiores dicta maiores?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci magnam obcaecati, explicabo corporis distinctio exercitationem nulla esse iusto ullam nostrum, quos est voluptate iure nihil enim asperiores dicta maiores?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci magnam obcaecati, explicabo corporis distinctio exercitationem nulla esse iusto ullam nostrum, quos est voluptate iure nihil enim asperiores dicta maiores?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci magnam obcaecati, explicabo corporis distinctio exercitationem nulla esse iusto ullam nostrum, quos est voluptate iure nihil enim asperiores dicta maiores?
                </p>
              </div>
            </div>

            <div class="accordion__item">

              <div class="accordion__item-header">
                <svg class="accordion__icon">
                  <use xlink:href="./assets/img/symbol-defs.svg#icon-equalizer2"/>
                </svg>
                <p class="accordion__title">Creativity</p>
                <svg class="accordion__arrow-icon">
                  <use xlink:href="./assets/img/symbol-defs.svg#icon-chevron-down"/>
                </svg>
              </div>

              <div class="accordion__text-container">
                <p class="accordion__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci magnam obcaecati, explicabo corporis distinctio exercitationem nulla esse iusto ullam nostrum, quos est voluptate iure nihil enim asperiores dicta maiores?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci magnam obcaecati, explicabo corporis distinctio exercitationem nulla esse iusto ullam nostrum, quos est voluptate iure nihil enim asperiores dicta maiores?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci magnam obcaecati, explicabo corporis distinctio exercitationem nulla esse iusto ullam nostrum, quos est voluptate iure nihil enim asperiores dicta maiores?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci magnam obcaecati, explicabo corporis distinctio exercitationem nulla esse iusto ullam nostrum, quos est voluptate iure nihil enim asperiores dicta maiores?
                </p>
              </div>
            </div>

            <div class="accordion__item">

              <div class="accordion__item-header">
                <svg class="accordion__icon">
                  <use xlink:href="./assets/img/symbol-defs.svg#icon-target"/>
                </svg>
                <p class="accordion__title">Web design</p>
                <svg class="accordion__arrow-icon">
                  <use xlink:href="./assets/img/symbol-defs.svg#icon-chevron-down"/>
                </svg>
              </div>

              <div class="accordion__text-container">
                <p class="accordion__text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci magnam obcaecati, explicabo corporis distinctio exercitationem nulla esse iusto ullam nostrum, quos est voluptate iure nihil enim asperiores dicta maiores?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci magnam obcaecati, explicabo corporis distinctio exercitationem nulla esse iusto ullam nostrum, quos est voluptate iure nihil enim asperiores dicta maiores?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci magnam obcaecati, explicabo corporis distinctio exercitationem nulla esse iusto ullam nostrum, quos est voluptate iure nihil enim asperiores dicta maiores?
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam adipisci magnam obcaecati, explicabo corporis distinctio exercitationem nulla esse iusto ullam nostrum, quos est voluptate iure nihil enim asperiores dicta maiores?
                </p>
              </div>
            </div>  
          </div>

        </div>
      </div>
    </section>

    <section class="slider">
      <div class="slider__container">
        
        <svg class="slider__arrow slider__arrow--left">
          <use xlink:href="./assets/img/symbol-defs.svg#icon-chevron-down"/>
        </svg>
        <svg class="slider__arrow slider__arrow--right">
          <use xlink:href="./assets/img/symbol-defs.svg#icon-chevron-down"/>
        </svg>
    
        <div class="slider__slide">
          <div class="slider__slide-icon-container">
            <svg class="slider__bubbles2">
              <use xlink:href="./assets/img/symbol-defs.svg#icon-bubbles2"/>
            </svg>
          </div>
          <div class="slider__text-container">
            <p class="slider__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit necessitatibus non doloremque, animi nesciunt alias? Sit temporibus est exercitationem reprehenderit ipsa veniam? Incidunt provident nemo at blanditiis. Sed, a voluptatibus!
            </p>
            <p class="slider__author">Jon Doe</p>
          </div>
        </div>
        
        <div class="slider__slide">
          <div class="slider__slide-icon-container">
            <svg class="slider__bubbles2">
              <use xlink:href="./assets/img/symbol-defs.svg#icon-bubbles2"/>
            </svg>
          </div>
          <div class="slider__text-container">
            <p class="slider__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit necessitatibus non doloremque, animi nesciunt alias? Sit temporibus est exercitationem reprehenderit ipsa veniam? Incidunt provident nemo at blanditiis. Sed, a voluptatibus!
            </p>
            <p class="slider__author">Jon Doe</p>
          </div>
        </div>
  
        <div class="slider__slide">
          <div class="slider__slide-icon-container">
            <svg class="slider__bubbles2">
              <use xlink:href="./assets/img/symbol-defs.svg#icon-bubbles2"/>
            </svg>
          </div>
          <div class="slider__text-container">
            <p class="slider__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit necessitatibus non doloremque, animi nesciunt alias? Sit temporibus est exercitationem reprehenderit ipsa veniam? Incidunt provident nemo at blanditiis. Sed, a voluptatibus!
            </p>
            <p class="slider__author">Jon Doe</p>
          </div>
        </div>
      </div>

    </section>
  </main>

</body>
</html>
