.center{
    text-align: center;
}

.margin-bottom-9{
    margin-bottom: 9rem;
}

.row{
    display: flex;
    flex-wrap: wrap;

    &--center{
        justify-content: center;
    }

    &--border-top{
        border-top: 1px solid rgba($grey, .3);
    }
}