.design{
    height: 85vh;
    position: relative;
    background-image: linear-gradient(to bottom, rgba($white, .8), rgba($white, .8)), url('../img/design-background-small.png');
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: left;
    background-size: cover;
    padding-top: 10rem;

    @include background{
        background-image: linear-gradient(to bottom, rgba($white, .8), rgba($white, .8)), url('../img/design-background.png');
    }

    @include respond(big-desktop){
        font-size: 100vh;
    }

    &__ipad{
        position: absolute;
        display: block;
        left: 50%;
        transform: translateX(-50%) translateY(0rem);
        width: 50rem;

        @include respond(phone){
            width: 40rem;
        }
    }

    &__iphone{
        width: 30rem;
        position: absolute;
        display: block;
        left: 50%;
        bottom: -10rem;
        z-index: 3;
        transform: translateX(30%); //<---- new way of positioning

        @include respond(phone){
            width: 35%;
        }
    }
}