.overlay{
    position: relative;
    transition: all .3s;

    &--work{ //<---responsive squre
        width: 100%;

        &::after{
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }

    &--work-large{
        width: 25%;
    }

    &--about{
        margin-top: 10rem;
        margin-bottom: 10rem;
        width: 40rem;
        height: 25rem;

        &:not(:last-child){
            margin-right: 3rem;
        }
    }

    &--team{
        width: 37rem;
        height: 55rem;
        margin-bottom: 3rem;

        &:not(:last-child){
            margin-right: 3rem;
        }
    }

    &__name{
        font-size: 1.6rem;
        color: $grey-dark;
        text-transform: uppercase;
    }

    &__job{
        font-family: 'Roboto';
        font-size: 1.6rem;
        font-weight: 300;
        font-style: italic;
    }

    &__img{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__gradient{
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba($pink, .9), rgba($yellow, .9));
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: all .4s;
        transform: scale(0);
    }

    &__icon-container{
        
    }

    &__icon{
        fill: $white;
        height: 4rem;
        width: 4rem;

        &--team{
            height: 5rem;
            width: 5rem;
            padding: 1rem;
            background-color: $yellow;
            fill: $pink;
            transition: all .3s;
            cursor: pointer;

            &:hover{
                fill: $white;
                background-color: $pink;
            }
        }
    }

    &__capture{
        color: $white;
        text-transform: uppercase;
        font-family: 'MontserratB';
        font-size: 2rem;
    }

    &__subcapture{
        color: $white;
        font-family: 'Roboto';
        font-size: 1.6rem;
        font-weight: 300;
        font-style: italic;
    }

    &:hover{
        box-shadow: 1rem 1rem $green;     
    }

    &:hover &__gradient{
        transform: scale(1);
    }
}
