.service{
    &__item{
        display: flex;
        flex: 1;
        padding: 3rem;

        @include respond(phone){
            width: 100%;
            flex: none;
        }
    }

    &__icon{
        height: 6rem;
        width: 6rem;
        fill: $green;
    }

    &__description-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__title{
        font-size: 1.6rem;
        color: $grey-dark;
        text-transform: uppercase;
    }

    &__description{
        font-size: 1.6rem;
        font-family: 'Roboto';
    }
}