.navigation{
    display: flex;
    justify-content: space-between;

    &__logo{
        font-family: 'MontserratB';
        font-size: 3rem;
    }

    &__links-container{
        display: flex;
        align-self: center;
    }

    &__link{
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-right: 7rem;
    }

    &__icon{

    }
}