.about{
    margin-top: 10rem;
}


.service{
    margin-top: 10rem;
}

.design{
    margin-top: 10rem;
}

.wedo{
    padding-top: 10rem;
}

.team{
    margin-top: 10rem;
}

.brands{
    margin-top: 10rem;
}

.work{
    margin-top: 10rem;
}

.clients{
    padding-top: 10rem;
}

.blog{
    margin-top: 10rem;
}

.map{
    margin-top: 10rem; 
}